<!DOCTYPE html>
<html lang="uk">
{{> partials/head}}
<body class="bg-light">
{{> partials/navbar }}
  <div class="container py-5">
    <h1>Тлумачний словник комп'ютерних термінів</h1>
    <p class="lead">Цей словник містить найпоширеніші терміни у сфері ІТ та програмування.</p>
    <a href="/terms/" class="btn btn-primary">Переглянути терміни</a>
  </div>
</body>
</html>
